<div class="container">
  <div class="row">
    <div class="col-md-4 child">
      <h3><a href="#">Blog Post Title</a></h3>
      <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ornare lacus. Nulla sed vulputate mauris. Nunc nec urna vel sapien mattis consectetur sit amet eu tellus.</p>
      <p><a href="#">Read More</a></p>
    </div>
    <div class="col-md-4 child">
      <h3><a href="#">Blog Post Title</a></h3>
      <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ornare lacus. Nulla sed vulputate mauris. Nunc nec urna vel sapien mattis consectetur sit amet eu tellus.</p>
      <p><a href="#">Read More</a></p>
    </div>
    <div class="col-md-4 child">
      <h3><a href="#">Blog Post Title</a></h3>
      <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ornare lacus. Nulla sed vulputate mauris. Nunc nec urna vel sapien mattis consectetur sit amet eu tellus.</p>
      <p><a href="#">Read More</a></p>
    </div>
    <div class="col-md-4 child">
      <h3><a href="#">Blog Post Title</a></h3>
      <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ornare lacus. Nulla sed vulputate mauris. Nunc nec urna vel sapien mattis consectetur sit amet eu tellus.</p>
      <p><a href="#">Read More</a></p>
    </div>
    <div class="col-md-4 child">
      <h3><a href="#">Blog Post Title</a></h3>
      <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ornare lacus. Nulla sed vulputate mauris. Nunc nec urna vel sapien mattis consectetur sit amet eu tellus.</p>
      <p><a href="#">Read More</a></p>
    </div>
    <div class="col-md-4 child">
      <h3><a href="#">Blog Post Title</a></h3>
      <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ornare lacus. Nulla sed vulputate mauris. Nunc nec urna vel sapien mattis consectetur sit amet eu tellus.</p>
      <p><a href="#">Read More</a></p>
    </div>
  </div>
</div>



