<div class="container">
  <!-- page title //-->
  <div class="row m-t-3">
    <div class="col-md-12">
      <h1>Blog</h1>
    </div>
  </div>
  <!-- page body //-->
  <div class="row m-t-3">
    <div class="col-md-8">
    	<div class="card">
        <img class="card-img-top img-fluid" src="img/image.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Post title</h4>
          <p><small>Posted by <a href="#">Admin</a> on January 1, 2016 in <a href="#">Category</a></small></p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Post title</h4>
          <p><small>Posted by <a href="#">Admin</a> on January 1, 2016 in <a href="#">Category</a></small></p>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid" src="img/image.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Post title <span class="label label-success">Updated</span></h4>
          <p><small>Posted by <a href="#">Admin</a> on January 1, 2016 in <a href="#">Category</a></small></p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Post title</h4>
          <p><small>Posted by <a href="#">Admin</a> on January 1, 2016 in <a href="#">Category</a></small></p>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.  Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.  Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <nav>
        <ul class="pager m-t-3">
          <li class="pager-prev"><a href="#">Older Posts</a></li>
          <li class="pager-next disabled"><a href="#">Newer Posts</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-4 hidden-md-down">
    	<div class="card card-block">
        <h5 class="card-title">Recent Posts</h5>
        <div class="list-group">
          <button type="button" class="list-group-item">Cras justo odio</button>
          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
          <button type="button" class="list-group-item">Morbi leo risus</button>
          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
        </div>
        <div class="m-t-1"><a href="#">View More</a></div>
      </div>
      <div class="card card-block">
        <h5 class="card-title">Archives</h5>
        <div class="list-group">
          <button type="button" class="list-group-item">Cras justo odio</button>
          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
          <button type="button" class="list-group-item">Morbi leo risus</button>
          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
        </div>
        <div class="m-t-1"><a href="#">View More</a></div>
      </div>
      <div class="card card-block">
        <h5 class="card-title">Categories</h5>
        <div class="list-group">
          <button type="button" class="list-group-item">Cras justo odio</button>
          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
          <button type="button" class="list-group-item">Morbi leo risus</button>
          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
        </div>
        <div class="m-t-1"><a href="#">View More</a></div>
      </div>
    </div>
  </div>
  <!-- mailing list //-->
  <%- partial("partial/_mailing-list") %>
</div>